/*Muscari*/

.theme-muscari{
  background: #fff;
  color: #3c3c3c;
}

.theme-muscari h1, .theme-muscari h2, .theme-muscari h3, .theme-muscari h4, .theme-muscari h5, .theme-muscari h6, .theme-muscari .h1, .theme-muscari .h2, .theme-muscari .h3, .theme-muscari .h4, .theme-muscari .h5, .theme-muscari .h6{ 
  color: #374574; 
}

.theme-muscari .countdown-box {
	margin-left: 0;
	width: 100%;
	left: 0;
	background: #3455ff;
	color: #fff;
}

.theme-muscari .countdown-box h6 {
	color: #fff !important;
}

.theme-muscari .countdown-box .countdown-time {
	color: #fff;
}

.theme-muscari .countdown-box .token-countdown .countdown-text {
	color: rgba(255, 255, 255, 0.6);
}

.theme-muscari .banner .countdown-box .token-countdown .countdown-text{
	color: #fff;
}

.theme-muscari .banner-content .countdown-box {
	background: rgba(0, 33, 205, 0.8);
}

.theme-muscari .token-status-point::after {
	background: rgba(255, 255, 255, 0.5);
}

.theme-muscari .token-status-percent {
	background: #39a9ff;
}

.theme-muscari .countdown-box .btn{
	font-size: 16px;
	padding: 9px 40px;
}

.theme-muscari .loader-section {
	background: #fcfcfc;
}

.theme-muscari .btn {
	background: #3455ff;
	border-radius: 4px;
}

.theme-muscari .btn:hover {
	background: #ffc123;
}

.theme-muscari .btn:before {
	display: none;
}

.theme-muscari .btn.btn-alt {
	background: #ffc123;
}

.theme-muscari .btn.btn-alt:hover {
	background: #39a9ff;
}

.theme-muscari .btn.btn-plane,
.theme-muscari .footer-widget .btn.btn-plane {
	background: #fff;
	color: #3455ff;
}

.theme-muscari .btn.btn-plane:hover {
	color: #fff;
	background: #ffc123;
}

.theme-muscari .btn.btn-simple {
	background: none;
	color: #fff;
	padding: 0 20px;
}

.theme-muscari .btn.btn-simple .fa {
	color: #ffc123;
}

.theme-muscari .btn.btn-white {
	background: #fff;
	color: #3455ff;
}

.theme-muscari .btn.btn-white:hover {
	background: #ffc123;
	color: #fff;
}

.theme-muscari .btn.btn-outline {
	background: transparent;
	border: 2px solid #ffc123;
}

.theme-muscari .btn.btn-outline:after {
	background: transparent;
}

.theme-muscari .btn.btn-outline:hover {
	background: #ffc123;
}

.theme-muscari .site-header.has-fixed .navbar {
	background: #fff;
	box-shadow: 0 10px 40px rgba(93, 70, 232, 0.15);
}

.theme-muscari .has-fixed ul.menu-top > li > a {
	color: #637097;
}

.theme-muscari .site-header.has-fixed .navbar.is-transparent .navbar-brand .logo-dark {
	display: block;
}

.theme-muscari .site-header.has-fixed .navbar.is-transparent .navbar-brand .logo-light {
	display: none;
}

.theme-muscari .site-header.has-fixed .navbar .btn.btn-outline {
	border-color: #3455ff;
	color: #3455ff;
}

.theme-muscari .site-header.has-fixed .navbar .btn.btn-outline:hover{
	background: #3455ff;
	color: #fff;
}

.theme-muscari .site-header .scroll-down {
	bottom: -90px;
}

.theme-muscari .banner {
	min-height: auto !important;
	height: auto;
}

.theme-muscari .banner .banner-content {
	padding: 70px 0 110px;
}

.our-partners{
	margin-top: -80px;
}

.theme-muscari .navbar .navbar-nav > li > a {
	margin: 0 15px;
}

.theme-muscari .navbar .navbar-btns > li > a {
	margin: 0 12px;
}

.theme-muscari .navbar-btns {
	margin: 0 -12px 0 10px;
}

.theme-muscari .navbar-btns li {
	display: inline-block;
	margin: 0 0;
}

.theme-muscari .navbar-btns .btn {
	min-width: auto;
}

.theme-muscari .dropdown-toggle::after {
	display: inline-block;
	width: 10px;
	height: 38px;
	margin-left: .255em;
	font-family: 'themify';
	content: "\e64b";
	border: none;
	font-size: 10px;
	line-height: 38px;
	position: absolute;
	right: 0;
}

.theme-muscari .navbar-toggler {
	background: #ffc123;
}

.theme-muscari .has-fixed .switcher-top .wpml-ls-legacy-dropdown > ul > li > a, 
.theme-muscari .has-fixed .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a{
	color: #637097;
}

.theme-muscari .switcher-top .wpml-ls-legacy-dropdown > ul:after{
	left: 2px;
	top: 9px;
	height: 15px;
}

.theme-muscari .has-fixed .switcher-top .wpml-ls-legacy-dropdown > ul:after{
	background: rgba(99, 112, 151, 0.2);
}

.theme-muscari .section-bg-light, .theme-muscari [class*=section-bg-light] {
	background: #fff;
	color: #637097;
}

.theme-muscari .section-bg-light h1, .theme-muscari .section-bg-light h2, .theme-muscari .section-bg-light h3, .theme-muscari .section-bg-light h4, .theme-muscari .section-bg-light h5, .theme-muscari .section-bg-light h6, .theme-muscari [class*=section-bg-light] h1, .theme-muscari [class*=section-bg-light] h2, .theme-muscari [class*=section-bg-light] h3, .theme-muscari [class*=section-bg-light] h4, .theme-muscari [class*=section-bg-light] h5, .theme-muscari [class*=section-bg-light] h6 {
	color: #374574;
}

.theme-muscari .section-bg-light .small-heading, .theme-muscari [class*=section-bg-light] .small-heading {
	text-transform: uppercase;
	letter-spacing: .2em;
	color: rgba(52, 85, 255, 0.5);
}

.theme-muscari .section-bg-muscari h1, .theme-muscari .section-bg-muscari h2, .theme-muscari .section-bg-muscari h3, .theme-muscari .section-bg-muscari h4, .theme-muscari .section-bg-muscari h5, .theme-muscari .section-bg-muscari h6, .theme-muscari .section-bg-muscari p {
	color: #fff;
}

.theme-muscari .section-bg-muscari .text-block {
	color: #fff;
}

.theme-muscari .section-bg-muscari .text-block p:not(.lead) {
	color: #fff;
}

.theme-muscari .section-bg-muscari .text-block ul:not(.btns) li {
	color: #fff;
}

.theme-muscari .section-bg-muscari .text-block ul:not(.btns) li:before {
	background: #ffc123;
}

.theme-muscari .section-angle + .section-bg-light-alt:before {
	position: absolute;
	left: 0;
	top: -350px;
	height: 350px;
	width: 100%;
	content: '';
	background: #f7f8ff;
}

.theme-muscari .section-angle-top:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 350px;
	width: 100%;
	content: '';
	background: #f7f8ff;
	z-index: 1;
}

.theme-muscari .section-angle-top:after {
	position: absolute;
	left: 0;
	bottom: -350px;
	height: 350px;
	width: 100%;
	content: '';
	background: #f7f8ff;
	z-index: 1;
}

.theme-muscari .section-angle-bottom:before {
	position: absolute;
	left: 0;
	top: -350px;
	height: 350px;
	width: 100%;
	content: '';
	background: #fff;
	z-index: 2;
}

.theme-muscari .section-bg-light-alt + .section-angle:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 350px;
	width: 100%;
	content: '';
	background: #f7f8ff;
}

.theme-muscari .section-bg-light-alt,
.theme-muscari .section-bg-light-alt .section-bg-angle {
	background-color: #f7f8ff;
}

.theme-muscari .section-muscari,
.section-bg-muscari .section-bg-angle {
	background: #3455ff;
}

.theme-muscari .text-block {
	color: #374574;
}

.theme-muscari .text-block p:not(.lead) {
	color: #637097;
}

.theme-muscari .btns .fa:hover{
	opacity: 0.8;
	transition: 0.3s;
}

.theme-muscari .header-partners {
	margin-top: -30px;
}

.theme-muscari .token-section::after {
	display: none;
}

.theme-muscari .roadmap-carousel-withnav:before, .theme-muscari .roadmap-carousel-withnav:after {
	background: #b3d9ff;
}

.theme-muscari .roadmap-carousel-container:before,
.theme-muscari .roadmap-carousel:before, .theme-muscari .roadmap-carousel:after {
	background: #b3d9ff;
}

.theme-muscari .roadmap-item h6:before {
	background: rgb(51, 153, 255);
}

.theme-muscari .roadmap-item h6:after {
	background: #3399ff;
}

.theme-muscari .roadmap-done h6:before {
	background: rgb(52, 85, 255);
}

.theme-muscari .roadmap-done h6:after {
	background: #3455ff;
}

.theme-muscari .contact-section {
	overflow: visible;
}

.theme-muscari .footer-section{
	background-color: #3455ff;
}

.theme-muscari .footer-widget{
	color: #fff;
}

.theme-muscari .footer-fix {
	margin-top: -350px;
}

.theme-muscari .copyright-text {
	color: #fff;
}

.theme-muscari .copyright-text span {
	color: rgba(255, 255, 255, 0.6);
}

.theme-muscari .copyright-text a {
	color: #fff;
}

.theme-muscari .copyright-text a:hover {
	color: #ffc123;
}

.theme-muscari .footer-subscription .input-round {
	color: #fff;
	background: rgba(57, 169, 255, 0.5);
	border: 1px solid transparent;
	border-radius: 5px;
	line-height: 52px;
	width: 100%;
	padding-left: 15px;
	outline: none;
	transition: all .5s ease;
}

.theme-muscari .social li a {
	color: #3455ff;
	background: #fff;
}

.theme-muscari .social li a:hover {
	color: #fff;
	background: #ffc123;
}

.theme-muscari .link-widget li a, .theme-muscari .footer-links li a {
	color: rgba(255, 255, 255, 0.6);
}

.theme-muscari .link-widget li a:hover, .theme-muscari .footer-links li a:hover {
	color: #fff;
}

@media only screen and (max-width: 1024px) {
	.theme-muscari .navbar .navbar-nav > li > a {
		margin: 0 10px;
	}

	.theme-muscari .site-header .scroll-down {
		bottom: -20px;
	}
}

@media only screen and (max-width: 991px) {
	.theme-muscari .site-header .navbar-collapse {
		padding-bottom: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.theme-muscari .site-header .banner .banner-content {
		padding: 30px 0 40px;
	}
}

.btn.btn-lg {
	padding: 5px 40px;
	border-radius: 4px;
}

.header-image-muscari {
	margin: 0 -95px;
}

.banner .section-bg-angle {
	position: absolute;
	left: 0;
	top: -100%;
	height: 200%;
	width: 100%;
	content: '';
	background: #3455ff;
	transform: skewY(17deg);
	z-index: 1;
	overflow: hidden;
}

.overlay-bubble {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.overlay-bubble div {
	position: absolute;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.05);
	transform: skewY(-17deg);
}

.overlay-bubble-1 {
	height: 735px;
	width: 735px;
	right: calc(50% - 65px);
	top: calc(50% + 10px);
}

.overlay-bubble-2 {
	height: 680px;
	width: 680px;
	right: calc(50% + 360px);
	top: calc(50% - 145px);
}

.overlay-bubble-3 {
	height: 350px;
	width: 350px;
	right: calc(50% - 95px);
	top: calc(50% + 540px);
}

.overlay-bubble-4 {
	height: 650px;
	width: 650px;
	left: calc(50% + 435px);
	top: calc(50% - 240px);
}

.overlay-bubble-5 {
	height: 350px;
	width: 350px;
	left: calc(50% + 490px);
	top: calc(50% + 240px);
}

.overlay-bubble-6 {
	height: 440px;
	width: 440px;
	left: calc(50% + 685px);
	top: calc(50% + 240px);
}

.overlay-bars {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.overlay-bars div {
	position: absolute;
	background: rgba(255, 255, 255, 0.03);
	transform: rotate(-15deg);
}

.overlay-bars.reverse {
	transform: scaleX(-1);
}

.overlay-bar-1 {
	height: 140%;
	width: 300px;
	left: calc(50% - 210px);
	top: -20%;
}

.overlay-bar-2 {
	height: 100%;
	width: 160px;
	left: calc(50% - 170px);
	bottom: calc(50% + 155px);
}

.overlay-bar-3 {
	height: 100%;
	width: 230px;
	left: calc(50% - 90px);
	top: calc(50% + 280px);
}

.overlay-bar-4 {
	height: 140%;
	width: 300px;
	left: calc(50% - 860px);
	top: -20%;
	transform: rotate(-15deg);
}

.overlay-bar-5 {
	height: 140%;
	width: 160px;
	left: calc(50% - 910px);
	top: -20%;
}

.overlay-bar-6 {
	height: 140%;
	width: 300px;
	left: calc(50% + 530px);
	top: -20%;
}

.overlay-bar-7 {
	height: 140%;
	width: 300px;
	left: calc(50% + 670px);
	top: -20%;
}

.ex-sm-head {
	text-transform: uppercase;
	font-weight: 500;
	font-size: .81em;
	line-height: 1.1;
	color: rgba(55, 69, 116, 0.7);
}

.partner-list-s3 li {
	margin-bottom: 15px;
}

.section-bg-angle {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	content: '';
	transform: skewY(17deg);
	z-index: 1;
	background: #fff;
}

.section-bg-patern.section-bg-light {
	background: url("../images/pattern-muscari-light.png"), #fff;
	background-size: 100%;
	background-position: top 130px center;
	background-repeat: no-repeat;
}

.section-bg-patern.section-bg-light-alt {
	background: url("../images/pattern-muscari-light.png"), #f7f8ff;
	background-size: 100%;
	background-position: top 130px center;
	background-repeat: no-repeat;
}

.section-head-s4 {
	padding-bottom: 50px;
}

.section-head-s5 .section-title {
	position: relative;
	padding-bottom: 26px;
}

.section-head-s5 .section-title:after {
	position: absolute;
	left: 50%;
	bottom: 0;
	content: '';
	margin-left: -40px;
	width: 80px;
	height: 6px;
	border-radius: 3px;
	background: #39a9ff;
}

.section-bg-muscari .section-head-s5 .section-title:after {
	background: #ffc123;
}

@media only screen and (max-width: 991px) {
	.header-image-muscari {
		margin: 0 -15px;
	}
}

@media only screen and (max-width: 1024px) {
	.section-bg-angle {
		transform: skewY(10deg);
	}

	.header-bg-angle {
		transform: skewY(10deg);
	}

	.theme-muscari .banner-tokensale .countdown-box {
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.theme-muscari .countdown-box {
		margin-left: auto;
	}

	.overlay-bubble {
		top: 190px;
		transform: scale(0.5) skewY(-10deg);
	}

	.overlay-bubble div {
		transform: skewY(-10deg);
	}
}

@media only screen and (max-width: 767px) {
	.btn.btn-lg {
		padding: 0 25px;
		font-size: 12px;
	}
}

.text-box {
	padding-right: 30px;
	border-radius: 6px;
}

.theme-muscari .text-box h6 {
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 8px;
	color: #ffc123;
}

.text-box.text-box-bg {
	padding: 40px 30px;
	background: rgba(0, 0, 0, 0.2);
}

.roadmap-carousel-withnav {
	padding: 0 40px;
	position: relative;
}

.roadmap-carousel-withnav:before, .roadmap-carousel-withnav:after {
	position: absolute;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	content: '';
	top: 42px;
}

.roadmap-carousel-withnav:before {
	left: 0;
}

.roadmap-carousel-withnav:after {
	right: 0;
}

.roadmap-carousel-withnav .owl-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.roadmap-carousel-withnav .owl-prev, .roadmap-carousel-withnav .owl-next {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
	height: 52px;
	width: 52px;
	font-size: 36px;
	line-height: 52px;
	text-align: center;
	color: #34559B;
	opacity: 0.3;
	transform: translateY(50%);
}

.roadmap-carousel-withnav .owl-prev {
	left: -50px;
}

.roadmap-carousel-withnav .owl-next {
	right: -50px;
}

@media only screen and (max-width: 1024px) {
	.roadmap-carousel-container {
		margin: 0 40px;
	}
}

@media only screen and (max-width: 767px) {
	.roadmap-carousel-container {
		margin: 0 30px;
	}

	.roadmap-item {
		padding: 0;
	}
}

.team-member {
	background: rgba(51, 153, 255, 0.1);
}

.team-member .team-social li a {
	color: #39a9ff;
}

.team-member .team-social li a:hover {
	color: #ffc123;
}

.team-member .team-title {
	color: #3455ff;
}

.team-member .team-photo:before {
	background: rgba(52, 85, 255, 0.4);
}

.team-member .team-photo:after {
	background: #ffc123;
}

.section-bg-light .tab-custom-s2 .nav-tabs li > a,
.wpb-js-composer.theme-muscari div.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs-position-top.tab-custom-s2 .vc_tta-tab>a{
	opacity: 1;
	color: #637097;
}

.section-bg-light .tab-custom-s2 .nav-tabs li > a.active,
.wpb-js-composer.theme-muscari div.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs-position-top.tab-custom-s2 .vc_tta-tab.vc_active>a{
	color: #3455ff;
	border-bottom-color: #3455ff;
}

.section-bg-light .form-message .input-field .input-line, .section-bg-light-alt .form-message .input-field .input-line,
.theme-muscari .comment-form .input-field .input-line {
	color: #637097;
	border-bottom-color: rgba(204, 212, 255, 0.6);
}

.section-bg-light .form-message .input-field .input-title, .section-bg-light-alt .form-message .input-field .input-title {
	color: rgba(52, 85, 255, 0.5);
}

.section-bg-light .contact-info-alt li .fa {
	color: #3455ff;
	background: #3455ff;
}

.section-bg-light .contact-info-alt li .fa:after {
	background: #fff;
}

.contact-info-alt li .fa {
	color: #3455ff;
	background: #3455ff;
}

.section-bg-light-alt .contact-info-alt li .fa:after {
	background: #f7f8ff;
}

/*Blog*/

.theme-muscari .blog-section h1, .theme-muscari .blog-section h2, .theme-muscari .blog-section h3, .theme-muscari .blog-section h4, .theme-muscari .blog-section h5, .theme-muscari .blog-section h6{
  font-weight: 500;
}

.theme-muscari h2.page-heading{ color: #fff; }

.theme-muscari .page-banner { background: url("../images/header-overlay.png") 0 0 no-repeat, #3455ff no-repeat; background-size: 50%, cover; }

.theme-muscari .blog-section { background: #fff; color: #28384c; }
.theme-muscari .sidebar-widget ul li a{ color: #28384c; }
.theme-muscari .sidebar-widget ul li a:hover { color: #3455ff; }
.theme-muscari .sidebar-widget ul li a { color: #28384c; }
.theme-muscari .sidebar-widget.widget_tag_cloud ul li a { color: #28384c; }

.theme-muscari .search-form input::-moz-placeholder { color: #373e45; }
.theme-muscari .search-form input:-ms-input-placeholder { color: #373e45; }
.theme-muscari .search-form input::-webkit-input-placeholder { color: #373e45; }
.theme-muscari .search-form input[type="text"] { color: #373e45; }

.theme-muscari .select2-dropdown{ background: #eee; }
.theme-muscari .select2-container--default .select2-selection--single .select2-selection__rendered{ color: #28384c; }
.theme-muscari .select2-container--default .select2-selection--single { background-color: rgba(170, 170, 170, 0.1); }
.theme-muscari .select2-container--default .select2-results__option--highlighted[aria-selected]{ background-color: rgba(170, 170, 170); }
.theme-muscari .select2-container--default .select2-results__option[aria-selected=true]{ background-color: rgba(170, 170, 170, 0.3); }

.theme-muscari .blog-content p { color: #8284a5; }
.theme-muscari .blog-texts { background: #eff6ff; }
.theme-muscari .blog-texts p { color: #28384c; }
.theme-muscari .blog-title a { color: #28384c; }
.theme-muscari .blog-meta li:after { opacity: 0.4; }
.theme-muscari .blog-tags li a { color: #28384c; }
.theme-muscari .page-pagination li a{ color: #28384c; }
.theme-muscari .page-pagination li a:hover{ color: #fff; }
.theme-muscari .page-pagination li a:after { background: #eff6ff; }

.theme-muscari .comment-form .input-field label.input-title{ color: #8284a5; }
.theme-muscari .comment-form .input-field .input-line{ color: #3c3c3c; }

.theme-muscari .cta-widget .btn.btn-alt{ background: #fff; color: #374574; }
.theme-muscari .cta-widget .btn.btn-plane:hover{ background: #000; }

.theme-muscari .comment-item, .section-light .comment-item, .section-light-alt .comment-item {
  background: #eff6ff;
}

.theme-muscari .comment-item > div, .section-light .comment-item > div, .section-light-alt .comment-item > div {
  border-bottom-color: #e5f0ff;
}

.theme-muscari .comment-reply, .section-light .comment-reply, .section-light-alt .comment-reply {
  color: #28384c;
}

.theme-muscari .comment-reply .fa, .section-light .comment-reply .fa, .section-light-alt .comment-reply .fa {
  color: #41faa4;
}

.theme-muscari .comment-reply:hover, .section-light .comment-reply:hover, .section-light-alt .comment-reply:hover {
  color: #41faa4;
}

.theme-muscari .comment-item {
  background: #eff6ff;
}

.theme-muscari .comment-item > div {
  border-bottom-color: #e5f0ff;
}

.theme-muscari .ml-auto a {
  color: #28384c;
}