/** @zinnia @v141 */
.io-zinnia {
  background: #fff;
}
.io-zinnia p {
  font-size: 0.9em;
}
.io-zinnia p.lead {
  font-size: 0.9em;
  font-weight: 400;
}
.io-zinnia p strong {
  font-weight: 500;
}
.io-zinnia a {
  color: #4c5a77;
}
.io-zinnia a:hover {
  color: #fe4350;
}
.io-zinnia h5 {
  font-size: 1.125em;
}
.io-zinnia .btns a:not(.btn) {
  color: rgba(254, 67, 80);
  opacity: 0.5;
}
.io-zinnia .btns a:not(.btn):hover {
  color: #fe4350;
  opacity: 1;
}
.io-zinnia section:before {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: '';
}
.io-zinnia .section-bg {
  background: #fff;
}
.io-zinnia .section-bg-alt {
  background: #fff5f6;
}
.io-zinnia .section-bg, .io-zinnia .section-bg-alt {
  color: #4c5a77;
}
.io-zinnia .section-bg h1, .io-zinnia .section-bg-alt h1, .io-zinnia .section-bg h2, .io-zinnia .section-bg-alt h2, .io-zinnia .section-bg h3, .io-zinnia .section-bg-alt h3, .io-zinnia .section-bg h4, .io-zinnia .section-bg-alt h4, .io-zinnia .section-bg h5, .io-zinnia .section-bg-alt h5, .io-zinnia .section-bg h6, .io-zinnia .section-bg-alt h6 {
  color: #4c5a77;
}
.io-zinnia .section-bg p, .io-zinnia .section-bg-alt p {
  color: #4c5a77;
}
.io-zinnia .section-bg p.lead, .io-zinnia .section-bg-alt p.lead {
  color: #223b55;
}
.io-zinnia .section-bg .section-title-s7, .io-zinnia .section-bg-alt .section-title-s7, .io-zinnia .section-bg .section-title-md, .io-zinnia .section-bg-alt .section-title-md {
  color: #fe4350;
}
.io-zinnia .section-bg-zinnia, .io-zinnia .section-bg-gradient {
  background: #fe4350;
  color: #fff;
}
.io-zinnia .section-bg-zinnia h1, .io-zinnia .section-bg-gradient h1, .io-zinnia .section-bg-zinnia h2, .io-zinnia .section-bg-gradient h2, .io-zinnia .section-bg-zinnia h3, .io-zinnia .section-bg-gradient h3, .io-zinnia .section-bg-zinnia h4, .io-zinnia .section-bg-gradient h4, .io-zinnia .section-bg-zinnia h5, .io-zinnia .section-bg-gradient h5, .io-zinnia .section-bg-zinnia h6, .io-zinnia .section-bg-gradient h6, .io-zinnia .section-bg-zinnia p, .io-zinnia .section-bg-gradient p, .io-zinnia .section-bg-zinnia p.lead, .io-zinnia .section-bg-gradient p.lead, .io-zinnia .section-bg-zinnia .section-head-s7 p, .io-zinnia .section-bg-gradient .section-head-s7 p, .io-zinnia .section-bg-zinnia .section-title-s7, .io-zinnia .section-bg-gradient .section-title-s7, .io-zinnia .section-bg-zinnia .section-title-md, .io-zinnia .section-bg-gradient .section-title-md {
  color: #fff;
}
.io-zinnia .section-bg-gradient {
  background-image: linear-gradient(135deg, #ff6c3f 0%, #fe4350 100%);
}
.io-zinnia .footer-section {
  overflow: hidden;
  background-image: linear-gradient(45deg, #ff6c3f 0%, #fe4350 100%);
  padding: 120px 0 50px;
}
.io-zinnia .footer-bottom {
  padding: 10px 0 40px;
}
.io-zinnia .footer-bottom .copyright-text {
  margin-top: 0;
  color: #fff;
}
.io-zinnia .footer-bottom .footer-brand {
  margin-bottom: 0;
}
.io-zinnia .widget-title {
  color: #fff;
}
.io-zinnia .timeline-title {
  color: #ff6c3f;
}
.io-zinnia .timeline-done .timeline-title {
  color: #223b55;
}
.io-zinnia .header-txt p {
  font-size: 1em;
}
.io-zinnia .btn {
  color: #fff;
  border-radius: 23px;
  background-image: -webkit-linear-gradient(to right, #ff6c3f 0%, #fe4350 100%);
  background-image: linear-gradient(to right, #ff6c3f 0%, #fe4350 100%);
}
.io-zinnia .btn:hover{
  color: #fff;
}
.io-zinnia .btn:before {
  border-radius: 23px;
  background-image: -webkit-linear-gradient(to right, #fe4350 0%, #ff6c3f 100%);
  background-image: linear-gradient(to right, #fe4350 0%, #ff6c3f 100%);
}
.io-zinnia .btn.btn-outline {
  line-height: 42px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .4);
}
.io-zinnia .btn-outline:after, .io-zinnia .btn-outline:before {
  display: none;
}
.io-zinnia .btn-outline:hover {
  color: #fe4350;
  background: #fff;
  border-color: #fff;
}
.io-zinnia .btn.btn-icon-s3 {
  background: #fff;
  color: #fe4350;
  padding-right: 50px;
  padding-left: 34px;
}
.io-zinnia .btn-icon-s3:before {
  display: none;
}
.io-zinnia .btn-icon-s3 [class*="fa-"] {
  position: absolute;
  line-height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 50%;
  top: 4px;
  right: 4px;
  background: #ff6c3f;
  color: #fff;
  transition: all 0.4s;
}
.io-zinnia .btn-icon-s3:hover {
  color: #ff6c3f;
}
.io-zinnia .btn-icon-s3:hover [class*="fa-"] {
  background: #fe4350;
  color: #fff;
}
.io-zinnia .btn.btn-plane {
  background: #ff6c3f;
}
.io-zinnia .text-block ul:not(.btns) li:before {
  background: #fe8f97;
}
.io-zinnia .text-block h2 {
  color: #fe4350;
}
.io-zinnia .text-block .btn {
  margin-top: 20px;
}
.io-zinnia .text-block p:not(.lead) {
  color: #4c5a77;
}
.io-zinnia .site-header .navbar-nav > li > a {
  text-transform: capitalize;
  color: #fff;
}
.io-zinnia .navbar .navbar-btns > li:hover > a{
  background: #fff;
}
.io-zinnia .site-header .menu-top > li > a:hover, .io-zinnia .site-header .menu-top > li > a.active {
  color: #fff;
}
.io-zinnia .site-header .navbar-nav > li.open > a {
  color: #223b55;
}
.io-zinnia .site-header.has-fixed .menu-top > li > a {
  text-transform: capitalize;
  color: #223b55;
}
.io-zinnia .site-header.has-fixed .menu-top > li > a:hover, 
.io-zinnia .site-header.has-fixed .menu-top > li a.active {
  color: #fe4350;
}
.io-zinnia .site-header.has-fixed .navbar-nav > li.open > a {
  color: #fe4350;
}
.io-zinnia .site-header.has-fixed .navbar.is-transparent .navbar-brand .logo-dark {
  display: block;
}
.io-zinnia .site-header.has-fixed .navbar.is-transparent .navbar-brand .logo-light {
  display: none;
}
.io-zinnia .site-header.has-fixed .navbar {
  background: #fff;
}
.io-zinnia .site-header .navbar-btns {
  margin-left: 20px;
}
.io-zinnia .site-header .is-transparent + .banner .banner-content {
  padding-bottom: 0;
  padding-top: 50px !important;
}
.io-zinnia .navbar .btn-outline {
  min-width: auto;
}
.io-zinnia .navbar .btn-outline:after {
  background: #362995;
}
.io-zinnia .navbar .navbar-nav > li > a.nav-link.btn {
  padding: 0 17px;
  line-height: 34px;
  margin: 0;
}
.io-zinnia .navbar-btns {
  margin: 0 -1px;
}
.io-zinnia .navbar-btns li {
  margin: 0 1px;
}
.io-zinnia .navbar .navbar-nav .sub-menu li a {
  text-transform: capitalize;
}
.io-zinnia .navbar .navbar-nav .sub-menu.active > a, .io-zinnia .navbar .navbar-nav .sub-menu li > a:hover {
  color: #fe4350;
}
.io-zinnia .navbar-collapse.show:after,
.io-zinnia .navbar-collapse:after {
  display: none;
}
.io-zinnia .site-header.has-fixed .btn-outline {
  color: #fe4350;
  border-color: rgba(254, 67, 80, .2);
}
.io-zinnia .site-header.has-fixed .btn-outline:after {
  background: #fff;
}
.io-zinnia .site-header.has-fixed .btn-outline:hover {
  color: #fff;
}
.io-zinnia .lang-switch {
  position: relative;
}
.io-zinnia .lang-switch a {
  font-size: 13px;
  font-weight: 500;
  margin: 0 8.5px;
  color: #fff;
}
.io-zinnia .lang-switch.show > a {
  color: #223b55;
}
.io-zinnia .lang-switch:hover a {
  color: #223b55;
  background-color: transparent;
}
.io-zinnia .lang-switch .dropdown-item {
  margin: 0 0;
}
.io-zinnia .lang-switch .dropdown-menu {
  margin-top: 15px;
  background: #ffdcdf;
  border: none;
}
.io-zinnia .lang-switch .dropdown-menu a {
  color: #223b55;
}
.io-zinnia .lang-switch .dropdown-menu a:hover {
  color: #fe4350;
}
.io-zinnia .lang-switch .ti {
  font-size: 0.6em;
  margin-left: 5px;
}
.io-zinnia .lang-switch:before {
  display: none;
}
.io-zinnia .has-fixed .lang-switch a {
  color: #223b55;
}
.io-zinnia .has-fixed .lang-switch a:hover {
  color: #fe4350;
}
.io-zinnia .has-fixed .lang-switch .dropdown-item {
  margin: 0 0;
}
.io-zinnia .has-fixed .lang-switch .dropdown-menu {
  margin-top: 15px;
  background: #ffdcdf;
  border: none;
}
.io-zinnia .has-fixed .lang-switch .ti {
  font-size: 0.6em;
  margin-left: 5px;
}
.io-zinnia .has-fixed .lang-switch:before {
  display: none;
}
.io-zinnia .navbar-toggler {
  background: #fff;
}
.io-zinnia .navbar-toggler:hover, .io-zinnia .navbar-toggler:focus {
  background: #fff;
}
.io-zinnia .navbar-toggler .ti {
  color: #fe4350;
}
.io-zinnia .has-fixed .navbar-toggler .ti {
  color: #fff;
}
.io-zinnia .active .navbar-toggler {
  background: linear-gradient(to right, #ff6c3f 0%, #fe4350 100%);
}
.io-zinnia .active .navbar-toggler:hover, .io-zinnia .active .navbar-toggler:focus {
  background: linear-gradient(to right, #ff6c3f 0%, #fe4350 100%);
}
.io-zinnia .active .navbar-toggler .ti {
  color: #fff;
}
.io-zinnia .timeline-item:before, .io-zinnia .timeline-item:after {
  background: #fff;
}
.io-zinnia .timeline-date {
  color: #fed895;
}
.io-zinnia .timeline-date:after {
  background: #fff;
}
.io-zinnia .timeline-date:before {
  background: rgba(255, 255, 255, .23);
}
.io-zinnia .timeline-title {
  color: #fff;
}
.io-zinnia .timeline-title:before {
  border-right: 1px solid rgba(255, 255, 255, .5);
}
.io-zinnia .timeline-info li {
  color: rgba(255, 255, 255, 7);
}
.io-zinnia .timeline-info li:after {
  background: rgba(255, 255, 255, .3);
}
.io-zinnia .timeline-done .timeline-title {
  color: #fff;
}
.io-zinnia .timeline-current .timeline-title {
  color: #fff;
}
.io-zinnia .timeline-row:before {
  top: 41px;
  border-bottom: 3px solid #a7010c;
}
.io-zinnia .timeline-row:after {
  top: 41px;
  width: 15px;
  height: calc(100% + 3px);
  border: 3px solid #a7010c;
}
.io-zinnia .timeline-row-even:after {
  left: -15px;
  border-right: none;
}
.io-zinnia .timeline-row-odd:after {
  right: -15px;
  border-left: none;
}
.io-zinnia .timeline-row-done:after {
  border-color: #fff;
}
.io-zinnia .team-circle .team-photo img {
  transition: all 0.6s;
}
.io-zinnia .team-circle .team-photo:hover img {
  transform: scale(0.85);
}
.io-zinnia .team-circle .team-photo:before {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  background: linear-gradient(180deg, #fe4350 0%, #ff6c3f 100%);
}
.io-zinnia .team-circle .team-title {
  color: #4c5a77;
}
.io-zinnia .team-circle .team-name {
  color: #fe4350;
}
.io-zinnia .team-circle .team-social li a {
  color: #4c5a77;
}
.io-zinnia .team-circle .team-social li a:hover {
  color: #fe4350;
}
.io-zinnia .bg-team-exp.mfp-bg, .io-zinnia .skill-bar-percent {
  background: linear-gradient(-45deg, #fe4350 0%, #ff6c3f 100%);
}
.io-zinnia .tab-custom-s3 .nav-tabs .nav-link {
  background: #eff1f3;
  color: #5a5d7a;
  position: relative;
}
.io-zinnia .tab-custom-s3 .nav-tabs .nav-link:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: '';
  border-radius: 6px;
  background: linear-gradient(-45deg, #fe4350 0%, #ff6c3f 100%);
  z-index: -1;
  opacity: 0;
}
.io-zinnia .tab-custom-s3 .nav-tabs .nav-link.active {
  color: #fff;
  background: transparent;
}
.io-zinnia .tab-custom-s3 .nav-tabs .nav-link.active:before {
  opacity: 1;
}
.io-zinnia .accordion-s2 .card {
  background-color: #fff;
  border: 2px solid rgba(34, 59, 85, .15);
  margin-bottom: 10px;
}
.io-zinnia .accordion-s2 .card.active {
  border-color: rgba(254, 67, 80, .5);
}
.io-zinnia .accordion-s2 .card-header a {
  color: #fe4350;
}
.io-zinnia .accordion-s2 .card-header a.collapsed {
  color: #4c5a77;
}
.io-zinnia .accordion-s2 .card-header a:hover {
  color: #fe4350;
}
.io-zinnia .accordion-s2 .plus-minus .ti {
  color: #fe4350;
}
.io-zinnia .accordion-s2 .collapsed .plus-minus .ti {
  color: rgba(34, 59, 85, .5);
}
.io-zinnia .input-border {
  color: #fff;
  border: 2px solid rgba(255, 255, 255, .25);
  background: #271799;
}
.io-zinnia .input-border::-moz-placeholder {
  opacity: 0.8;
  color: rgba(76, 90, 119, .7);
}
.io-zinnia .input-border:-ms-input-placeholder {
  opacity: 0.8;
  color: rgba(76, 90, 119, .7);
}
.io-zinnia .input-border::-webkit-input-placeholder {
  opacity: 0.8;
  color: rgba(76, 90, 119, .7);
}
.io-zinnia .loader-section {
  background: #fff;
}
.io-zinnia .contact-info li .fa {
  color: #fff;
  background: linear-gradient(-45deg, #fe4350 0%, #ff6c3f 100%);
}
.io-zinnia .comment-form .input-field .input-line {
  color: #5a5d7a;
  border-bottom-color: #dee2e6;
  transition: all 0.5s ease;
}
.io-zinnia .comment-form .input-field .input-line:focus {
  border-bottom-color: rgba(255, 108, 63, .6);
}
.io-zinnia .comment-form .input-field .input-line.error {
  border-bottom-color: #fe4350;
}
.io-zinnia .section:before {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: '';
}
.io-zinnia .token-sale-section:before, .io-zinnia .document-section:before {
  background: url("../images/bg-shape-zinnia.png") 100% 100% no-repeat;
  background-size: cover;
}
.io-zinnia .roadmap-section:before {
  background: url("../images/bg-shape-b-zinnia.png") 100% 100% no-repeat;
  background-size: contain;
}
.site-header .navbar-full {
  padding-left: 20px;
  padding-right: 20px;
}
.dropdown-toggle::after {
  position: relative;
  top: 1px;
}
@media only screen and (max-width: 991px) {
  .io-zinnia .site-header:not(.has-fixed) .navbar.enable{
    background: #ff6c3f;
  }
  .io-zinnia .navbar .navbar-nav .sub-menu{
    background: transparent;
  }
  .io-zinnia .has-fixed .navbar-nav .sub-menu li a{
    color: #223b55;
  }
  .site-header .navbar-full {
    padding-left: 15px;
    padding-right: 15px;
  }
  .io-zinnia .timeline-title:before {
    border-top: 1px solid #fff;
  }
  .io-zinnia .timeline-row:before {
    border-left: 3px solid #a7010c;
  }
  .io-zinnia .navbar-collapse.show:after {
    display: none;
  }
  .io-zinnia .site-header .navbar.is-transparent.active {
    background: #ffe6e8;
  }
  .io-zinnia .lang-switch a {
    color: #223b55;
  }
  .io-zinnia .lang-switch a:hover {
    color: #fe4350;
  }
  .io-zinnia .lang-switch .dropdown-item {
    margin: 0 0;
  }
  .io-zinnia .lang-switch .dropdown-menu {
    left: 0;
    transform: translateX(0);
    margin-top: 15px;
    background: #ffdcdf;
    border: none;
  }
  .io-zinnia .lang-switch .ti {
    font-size: 0.6em;
    margin-left: 5px;
  }
  .io-zinnia .lang-switch:before {
    display: none;
  }
  .io-zinnia .site-header .lang-switch {
    display: block;
    margin-bottom: 15px;
  }
  .io-zinnia .site-header .navbar-btns{
    margin-bottom: 25px;
  }
  .io-zinnia .site-header .navbar .btn-outline:after {
    background: #fff;
  }
  .io-zinnia .site-header .navbar.is-transparent.active {
    background: #fff;
    padding-bottom: 20px;
    box-shadow: 0 10px 40px rgba(93, 70, 232, 0.15);
  }
  .io-zinnia .site-header .navbar.is-transparent.active .navbar-brand .logo-dark {
    display: block;
  }
  .io-zinnia .site-header .navbar.is-transparent.active .navbar-brand .logo-light {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .io-zinnia .site-header .navbar-btns {
    margin-left: 6px;
  }
  .io-zinnia .banner-content {
    padding-right: 80px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .io-zinnia .navbar .navbar-nav > li > a {
    font-size: 12px;
    margin: 0 6.5px;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .io-zinnia .navbar .navbar-nav > li > a {
    font-size: 12px;
    margin: 0 4px;
  }
  .io-zinnia .navbar-btns li {
    margin: 0;
  }
}
@media only screen and (min-width: 480px) {
  .io-zinnia .btn.btn-icon-s3 {
    padding-right: 65px;
  }
  .io-zinnia .btn-icon-s3 [class*="fa-"] {
    line-height: 38px;
    width: 38px;
  }
  .io-zinnia .header-txt p {
    font-size: 1.33em;
  }
}
@media only screen and (min-width: 576px) {
  .io-zinnia p {
    font-size: 1em;
  }
  .io-zinnia p.lead {
    font-size: 1em;
  }
  .io-zinnia .header-txt p {
    font-size: 1.33em;
  }
}
@media only screen and (min-width: 768px) {
  .io-zinnia .banner .banner-content {
    padding-bottom: 120px;
  }
  .io-zinnia .banner {
    min-height: 92vh;
    height: auto;
  }
}
@media only screen and (max-width: 767px) {
  .io-zinnia .banner {
    min-height: auto;
    padding-bottom: 225px;
  }
  .io-zinnia .navbar .navbar-nav > li > a{
    padding: 0 5px;
  }
  .io-zinnia .site-header .navbar-btns{
    margin-left: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .site-header .navbar-full {
    padding-left: 59px;
    padding-right: 59px;
  }
  .io-zinnia .navbar .navbar-nav > li > a.nav-link.btn {
    padding: 0 30px;
    line-height: 42px;
  }
  .io-zinnia .navbar-btns {
    margin: 0 -5px;
  }
  .io-zinnia .navbar-btns li {
    margin: 0 5px;
  }
}
@media only screen and (max-width: 991px) {
  .io-zinnia .timeline-row:before {
    left: -1px;
    border-left: 3px solid #a7010c;
  }
}
.banner-zinnia {
  padding-top: 50px;
  background: linear-gradient(135deg, #ff6c3f 0%, #fe4350 100%);
  background-size: contain, contain;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner-zinnia:after {
  display: block!important;
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  left: 0;
  bottom: 0;
  z-index: 2;
  background: url("../images/header-shape-zinnia.png") 100% 100% no-repeat;
  background-size: contain;
}
.hr-social {
  background: rgba(255, 255, 255, .2);
  padding: 0 20px;
  border-radius: 25px;
}
.hr-social li {
  padding: 13px 8px;
  display: inline-block;
}
.hr-social li a {
  color: #fff;
  text-align: center;
  line-height: 24px;
  width: 24px;
  display: block;
}
.hr-social li a:hover {
  color: #fff;
  opacity: 0.5;
  outline: none;
  transform: translateY(-3px);
}
.hr-social-mid {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .hr-social {
    padding: 20px 0;
  }
  .hr-social li {
    padding: 8px 13px;
    display: block;
  }
  .hr-social-mid {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -30px;
    z-index: 3;
  }
}
.btn-dropdown {
  padding: 0 34px 0 0;
  position: relative;
}
.btn-dropdown [class*="fa-"] {
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 30px;
  line-height: 42px;
}
.section-head-s7 {
  padding-bottom: 65px;
}
.section-title-s7 {
  color: #fe4350;
  padding-bottom: 8px;
  font-weight: 600;
}
.presale-box {
  position: absolute;
  width: 100%;
  max-width: 510px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -145px;
  z-index: 2;
}
.presale-countdown {
  background: url("../images/contdown-shape-zinnia.png") 0 0 no-repeat, #fff9f7;
  background-size: contain, 100%;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px 6px 0 0;
  padding: 30px 30px 18px 30px;
}
.presale-countdown h5 {
  background: linear-gradient(0deg, #ff6c3f 0%, #fe4350 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.presale-countdown h6 {
  font-weight: 400;
  margin-bottom: 6px;
  color: #223b55 !important;
}
.presale-countdown .token-countdown {
  margin: 0 -20px;
}
.presale-countdown .col {
  display: inline-block;
  width: auto;
  padding: 0 20px;
}
.presale-countdown .countdown-time {
  position: relative;
  font-weight: 600;
  color: #fe4350;
}
.presale-countdown .countdown-time:after {
  position: absolute;
  right: -21px;
  bottom: -2px;
  content: ":";
  color: #fe4350;
}
.presale-countdown .countdown-time.countdown-time-last:after {
  display: none;
}
.presale-countdown .countdown-text {
  color: #a7a7a7;
  display: block;
  font-size: 12px;
}
.presale-countdown .countdown-text span {
  display: none;
}
.presale-status {
  padding: 30px 30px;
  background: #fe4350;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
}
.presale-status h5 {
  font-weight: 600;
}
.presale-bar {
  padding: 6px;
  width: 100%;
  background: #fff;
  border-radius: 16px;
}
.presale-bar-percent {
  height: 20px;
  border-radius: 20px;
  background: linear-gradient(45deg, #ff6c3f 0%, #fe4350 100%);
}
.presale-points {
  padding-top: 6px;
  font-weight: 0.93em;
}
@media (min-width: 480px) {
  .presale-countdown {
    padding: 30px 30px 18px 60px;
  }
  .presale-countdown .countdown-time:after {
    right: -31px;
  }
  .presale-countdown .token-countdown {
    margin: 0 -30px;
  }
  .presale-countdown .col {
    padding: 0 30px;
  }
  .presale-status {
    padding: 30px 60px;
  }
}
@media (min-width: 768px) {
  .presale-box {
    position: absolute;
    width: 100%;
    max-width: 100%;
    left: 0;
    bottom: -45px;
    transform: translateX(0);
  }
  .presale-countdown {
    border-radius: 6px 0 0 6px;
  }
  .presale-status {
    border-radius: 0 6px 6px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .presale-countdown {
    padding: 30px 30px 18px 30px;
  }
  .presale-countdown .token-countdown {
    margin: 0 -20px;
  }
  .presale-countdown .col {
    padding: 0 20px;
  }
  .presale-countdown .countdown-time:after {
    right: -21px;
  }
}
.video-box-s3 {
  position: relative;
}
.video-box-s3 img {
  border-radius: 4px;
}
.play-btn-s3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background: #fff;
  z-index: 2;
}
.play-btn-s3:after {
  position: absolute;
  content: "";
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  top: -8px;
  left: -8px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, .3);
  animation: 1s ease 0s normal none infinite running playbutton;
}
.prblmsltn-list {
  padding-bottom: 50px;
}
.prblmsltn-list .owl-nav {
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translateX(50%);
}
.prblmsltn-list .owl-prev, .prblmsltn-list .owl-next {
  display: inline-block;
  width: 40px;
  line-height: 40px;
  text-align: center;
}
.prblm-item, .sltn-item {
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 30px 30px 30px 25px;
}
.prblm-title, .sltn-title {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 5px;
}
.prblm-points li, .sltn-points li {
  position: relative;
  font-size: 0.9375em;
  line-height: 1.73;
  padding: 6px 0 6px 20px;
}
.prblm-points li:before, .sltn-points li:before {
  position: absolute;
  left: 0;
  top: 16px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  content: '';
}
.prblm-item {
  background: #fff;
  margin-right: 20px;
  padding-bottom: 60px;
}
.prblm-title {
  color: rgba(90, 90, 90, .2) !important;
}
div.prblm-item .prblm-subtitle {
  color: #fe4350;
}
.prblm-points li:before {
  background: #fe4350;
}
.sltn-item {
  background: #fe4350;
  z-index: 2;
  margin-left: 20px;
  margin-top: -35px;
}
.sltn-title {
  color: rgba(255, 249, 250, .3) !important;
}
.sltn-subtitle {
  color: #fff !important;
}
.sltn-points li {
  color: #ffcece;
}
.sltn-points li:before {
  background: #fed895;
}
@media (min-width: 480px) {
  .prblm-item, .sltn-item {
    padding: 40px 90px 50px 35px;
  }
  .prblm-item {
    margin-right: 45px;
    padding-bottom: 90px;
  }
  .sltn-item {
    margin-left: 45px;
    margin-top: -45px;
  }
}
@media (min-width: 768px) {
  .prblmsltn-list {
    padding-bottom: 0;
  }
  .prblmsltn-list .owl-nav {
    right: 0;
    bottom: 0;
    transform: translateX(0);
  }
  .prblm-item {
    margin-right: -45px;
    margin-top: 60px;
    padding-bottom: 50px;
  }
  .sltn-item {
    margin-left: -45px;
    margin-bottom: 60px;
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .prblm-item, .sltn-item {
    padding: 40px 240px 50px 50px;
  }
  .prblm-title, .sltn-title {
    padding-bottom: 15px;
  }
  .prblm-item {
    margin-right: -95px;
    margin-top: 80px;
  }
  .sltn-item {
    margin-left: -95px;
    margin-bottom: 80px;
  }
}
.toktmln-list {
  position: relative;
}
.toktmln-list:before {
  position: absolute;
  left: 50%;
  top: -24px;
  width: 2px;
  margin-left: -1px;
  height: 100%;
  background: #fff;
  content: '';
}
.toktmln-item {
  position: relative;
  padding: 0 0 20px;
  display: flex;
  justify-content: center;
}
.toktmln-item:before {
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 6px solid #fff;
  background: #fe4350;
}
.toktmln-item div {
  padding: 0 30px 5px 0;
  text-align: right;
  width: 50%;
  flex-grow: 1;
}
.toktmln-item div:last-child {
  padding: 0 0 0 30px;
  text-align: left;
}
.toktmln-item div span {
  display: block;
  font-weight: 600;
}
.toktmln-item div span:last-child {
  font-size: 0.775em;
  padding-bottom: 8px;
  font-weight: 400;
}
.tokdis-item {
  position: relative;
  padding-left: 0;
  padding-bottom: 15px;
  margin-bottom: 15px!important;
  padding-top: 8px;
  display: inline-block;
}
.tokdis-item:before {
  position: absolute;
  width: 40px;
  height: 3px;
  border-radius: 1.5px;
  content: '';
  background: #fed895;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.tokdis-item *{
  margin: 0;
}
@media (min-width: 992px) {
  .toktmln-list:before {
    left: 0;
    top: 14px;
    width: 100%;
    height: 2px;
  }
  .toktmln-item {
    padding: 64px 0 0;
    display: block;
  }
  .toktmln-item:before {
    top: 0;
    left: 0;
    transform: translateX(0);
  }
  .toktmln-item div {
    padding-bottom: 5px;
    text-align: left;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .toktmln-item div:last-child {
    padding: 0 0 0 0;
  }
  .toktmln-item div span:last-child {
    font-size: 0.875em;
  }
  .tokdis-item {
    padding-left: 25px;
    padding-bottom: 4px;
    padding-top: 0;
  }
  .tokdis-item:before {
    width: 3px;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(0);
  }
}
.tab-s4 {
  text-align: center;
}
.tab-s4 .nav-tabs {
  border: none;
  margin: 0 0 30px;
  padding: 5px 8px;
  border-radius: 30px;
  display: inline-block;
  background-image: linear-gradient(45deg, #ff6c3f 0%, #fe4350 100%);
}
.tab-s4 .nav-tabs .nav-item {
  margin: 0 -3px;
  display: inline-block;
}
.tab-s4 .nav-tabs .nav-link {
  border: none;
  line-height: 24px;
  padding: 8px 18px;
  background: transparent;
  border-radius: 20px;
  font-weight: 500;
  color: #fff;
  font-size: 12px;
}
.tab-s4 .nav-tabs .nav-link.active {
  color: #fe4350;
  background: #fff;
}
@media (min-width: 576px) {
  .tab-s4 .nav-tabs {
    border-radius: 30px;
  }
  .tab-s4 .nav-tabs .nav-item {
    display: inline-block;
  }
  .tab-s4 .nav-tabs .nav-link {
    padding: 13px 25px;
    border-radius: 25px;
    font-weight: 600;
    font-size: 14px;
  }
}
.tkn-crt {
  position: relative;
}
.tkn-crt-img {
  max-width: 205px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.animate .tkn-crt-img {
  opacity: 0;
  position: relative;
  bottom: -30px;
  transition: all 0.4s;
  transition-delay: 0.2s;
}
.animate.show .tkn-crt-img {
  opacity: 1;
  bottom: 0;
}
.tkn-crt-lst {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
}
.tkn-crt-itm {
  position: static;
  align-items: center;
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
}
.animate .tkn-crt-itm {
  opacity: 0;
  transition: all 0.4s;
  transition-delay: 0.6s;
  transform: translateX(0) translateY(30px);
}
.animate.show .tkn-crt-itm {
  opacity: 1;
  transform: translateX(0) translateY(0);
}
.tkn-crt-itm:nth-child(1) {
  transition-delay: 0.7s;
}
.tkn-crt-itm:nth-child(2) {
  transition-delay: 0.8s;
}
.tkn-crt-itm:nth-child(3) {
  transition-delay: 0.9s;
}
.tkn-crt-itm:nth-child(4) {
  transition-delay: 1s;
}
.tkn-crt-itm:nth-child(5) {
  transition-delay: 1.1s;
}
.tkn-crt-itm:nth-child(6) {
  transition-delay: 1.2s;
}
.tkn-crt-itm:nth-child(7) {
  transition-delay: 1.3s;
}
.tkn-crt-prcnt {
  height: 55px;
  width: 55px;
  border-radius: 10px;
  background: #fe4350;
  font-size: 16px;
  font-weight: 600;
  line-height: 55px;
  display: inline-block;
  text-align: center;
  color: #fff;
  margin: 20px 30px;
  flex-shrink: 0;
  transform: rotate(-45deg);
}
.tkn-crt-prcnt > span {
  display: inline-block;
  transform: rotate(45deg);
}
.tkn-crt-prcnt.one {
  background: #fe4350;
}
.tkn-crt-prcnt.two {
  background: #fb6b5d;
}
.tkn-crt-prcnt.three {
  background: #ff5676;
}
.tkn-crt-prcnt.four {
  background: #ff774e;
}
.tkn-crt-prcnt.five {
  background: #ff6993;
}
.tkn-crt-prcnt.six {
  background: #ff9465;
}
.tkn-crt-prcnt.seven {
  background: #fb7fc8;
}
.tkn-crt-ttl {
  font-weight: 400;
  text-align: center;
  display: block;
  color: #223b55;
}
@media (min-width: 576px) {
  .tkn-crt-lst {
    margin-bottom: 0;
  }
  .tkn-crt-itm {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .tkn-crt-itm {
    width: 33%;
  }
  .tkn-crt-ttl {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .tkn-crt {
    position: relative;
    padding-top: 140px;
  }
  .tkn-crt:before {
    position: absolute;
    height: 610px;
    width: 610px;
    top: 0;
    left: 50%;
    content: '';
    border-radius: 20px;
    background: rgba(254, 67, 80, .05);
    transform: rotate(45deg);
    transform-origin: 0 0;
  }
  .tkn-crt-itm {
    position: absolute;
    display: flex;
    align-items: center;
    width: auto;
  }
  .tkn-crt-itm:nth-child(1) {
    flex-direction: column;
  }
  .tkn-crt-itm:nth-child(1) .tkn-crt-ttl {
    order: -1;
  }
  .tkn-crt-itm:nth-child(1) .tkn-crt-prcnt {
    transform: rotate(0);
  }
  .tkn-crt-itm:nth-child(1) .tkn-crt-prcnt > span {
    transform: rotate(0);
  }
  .tkn-crt-itm:nth-child(2n) .tkn-crt-ttl {
    order: -1;
  }
  .tkn-crt-itm:nth-child(even) {
    right: 50%;
    transform: translateX(-30px) translateY(0);
  }
  .animate.show .tkn-crt-itm:nth-child(even) {
    transform: translateX(0) translateY(0);
  }
  .tkn-crt-itm:nth-child(odd) {
    left: 50%;
    transform: translateX(30px) translateY(0);
  }
  .animate.show .tkn-crt-itm:nth-child(odd) {
    transform: translateX(0) translateY(0);
  }
  .tkn-crt-itm:nth-child(1) {
    top: -60px;
    left: 50%;
    transform: translateX(-50%) translateY(-30px);
  }
  .animate.show .tkn-crt-itm:nth-child(1) {
    transform: translateX(-50%) translateY(0);
  }
  .tkn-crt-itm:nth-child(2) {
    top: 65px;
    margin-right: 50px;
    transition-delay: 0.8s;
  }
  .tkn-crt-itm:nth-child(3) {
    top: 65px;
    margin-left: 50px;
    transition-delay: 0.8s;
  }
  .tkn-crt-itm:nth-child(4) {
    top: 173px;
    margin-right: 160px;
    transition-delay: 1s;
  }
  .tkn-crt-itm:nth-child(5) {
    top: 173px;
    margin-left: 160px;
    transition-delay: 1s;
  }
  .tkn-crt-itm:nth-child(6) {
    top: 281px;
    margin-right: 265px;
    transition-delay: 1.2s;
  }
  .tkn-crt-itm:nth-child(7) {
    top: 281px;
    margin-left: 265px;
    transition-delay: 1.2s;
  }
  .tkn-crt-ttl {
    white-space: nowrap;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .tkn-crt {
    transform: scale(0.8);
  }
}
.document-list {
  margin: -22px -30px;
}
.document-list > li {
  display: inline-block;
  padding: 22px 30px;
  position: relative;
}
.document-list > li .btn {
  min-width: 200px;
}
.document-list > li .dropdown-menu {
  min-width: calc(100% - 60px);
  padding: 0;
  border: none;
  z-index: 5;
}
.document-list > li .dropdown-menu-right {
  text-align: center;
}
.document-list > li .dropdown-menu li {
  border-bottom: 1px solid rgba(254, 67, 80, .1);
}
.document-list > li .dropdown-menu li:last-child {
  border-bottom: none;
}
.document-list > li .dropdown-menu li a {
  display: block;
  padding: 7px 35px;
  color: #fe4350;
}
.document-list > li .dropdown-menu li a:hover {
  color: #4c5a77;
}
.document-img-s3 {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.service-item {
  padding-bottom: 50px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.service-icon {
  position: relative;
  width: 80px;
  transform: rotate(-45deg);
  margin-bottom: 25px;
}
.service-icon img {
  transform: rotate(45deg);
}
.service-icon:after {
  position: absolute;
  content: '';
  height: 62px;
  width: 62px;
  top: 50%;
  left: 50%;
  border: 2px solid rgba(254, 67, 80, .2);
  border-radius: 8px;
  transform: translate(-50%, -50%);
}
.service-title {
  margin-bottom: 8px;
}
.service-img {
  padding-right: 10px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .service-img {
    padding-right: 0;
    max-width: 100%;
    margin-right: -60px;
  }
}
.widget-item {
  padding-bottom: 30px;
}
.widget-title {
  text-transform: uppercase;
}
.widget-title-ncap {
  text-transform: capitalize;
}
.widget-links li {
  line-height: 24px;
  padding: 5px 0;
}
.widget-links li a {
  color: #ffcece;
}
.widget-links li a:hover, .widget-links li a:focus {
  color: #fed895;
}
.io-zinnia .footer-widget.widget_mc4wp_form_widget{
  margin: 0;
}
.widget-subsctibe p {
  color: #ffcece;
}
.subscription-form .input-round {
  border: 2px solid #fe8f97;
  border-radius: 4px;
  padding: 10px 46px 10px 20px;
  line-height: 22px;
  height: auto;
  color: #fff;
  background: transparent;
  width: 100%;
  text-align: left !important;
}
.subscription-form input::-moz-placeholder {
  opacity: 0.6;
  color: #fff; 
}
.subscription-form input:-ms-input-placeholder {
  opacity: 0.6;
  color: #fff;
}
.subscription-form input::-webkit-input-placeholder {
  opacity: 0.6;
  color: #fff; 
}
.subscription-form .input-round:focus, .subscription-form .input-round:active {
  box-shadow: none;
  outline: none;
}
.subscription-form .input-round.error {
  border: 2px solid #f00;
}
.subscription-form .btn {
  position: absolute !important;
  margin-top: 0 !important;
  min-width: 46px;
  max-width: 46px;
  line-height: 46px;
  border-radius: 0 4px 4px 0;
  top: 0;
  right: 0;
  color: #fe4350;
  font-size: 18px;
  padding: 0 5px;
  background: #fff !important;
}
.subscription-form .btn:after, .subscription-form .btn:before {
  display: none;
}
.io-zinnia .footer-links{
  margin-top: 10px;
}
.io-zinnia .footer-links li a{
  color: #fff;
}
.ui-shape {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
}
.ui-shape:before, .ui-shape:after {
  position: absolute;
  content: '';
  height: 210px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.4s;
}
.ui-shape:before {
  top: 15%;
  left: -4%;
  width: 100px;
  background-image: url("../images/shape-a-red.png");
}
.ui-shape:after {
  bottom: 10%;
  right: -4%;
  width: 90px;
  background-image: url("../images/shape-b-red.png");
}
.ui-shape-light:before {
  background-image: url("../images/shape-a-wh.png");
}
.ui-shape-light:after {
  background-image: url("../images/shape-b-wh.png");
}
.ui-shape-s1:after {
  transform: rotate(60deg);
}
.ui-shape-s3:before {
  top: auto;
  bottom: 20%;
}
.ui-shape-s3:after {
  top: 10%;
  bottom: auto;
}
@media (min-width: 576px) {
  .ui-shape:before {
    width: 140px;
  }
  .ui-shape:after {
    width: 120px;
  }
}
@media (min-width: 768px) {
  .ui-shape:before {
    width: 140px;
  }
  .ui-shape:after {
    width: 120px;
  }
  .ui-shape-header:before {
    top: 22%;
    left: 9%;
  }
  .ui-shape-header:after {
    right: 15%;
    bottom: 32%;
  }
  .ui-shape-footer:before {
    top: 2%;
  }
  .ui-shape-footer:after {
    bottom: -11%;
  }
  .ui-shape-s1:after {
    right: 0;
  }
  .ui-shape-s2:before {
    top: 8%;
    left: 21%;
  }
  .ui-shape-s3:after {
    right: 4%;
  }
  .ui-shape-s4:before {
    left: 20%;
    top: 23.5%;
  }
  .ui-shape-s4:after {
    right: 2%;
  }
  .ui-shape-s5:after {
    right: 4%;
    bottom: 15%;
  }
  .ui-shape-s6:before {
    top: 9%;
    left: 13.3%;
  }
  .ui-shape-s6:after {
    bottom: 9%;
    right: 0%;
  }
  .ui-shape-s7:before {
    top: 6%;
    left: 22%;
  }
  .ui-shape-s7:after {
    bottom: 15%;
    right: 16%;
  }
}
@media (min-width: 992px) {
  .ui-shape {
    width: 960px;
    overflow: visible;
  }
  .ui-shape:before {
    width: 190px;
  }
  .ui-shape:after {
    width: 166px;
  }
  .ui-shape-overhide {
    overflow: hidden;
  }
  .ui-shape-header:before {
    left: 5%;
  }
  .ui-shape-header:after {
    right: 3%;
    bottom: 22%;
  }
  .ui-shape-s3:after {
    right: -2.5%;
  }
  .ui-shape-s4:after {
    right: -7%;
  }
  .ui-shape-s5:after {
    right: -2.5%;
  }
}
@media (min-width: 1200px) {
  .ui-shape {
    width: 1170px;
  }
  .ui-shape-header:before {
    top: 22%;
    left: 2%;
  }
  .ui-shape-header:after {
    right: -2.5%;
    bottom: 33%;
  }
}

/*Blog*/

.io-zinnia .blog-section h1, .io-zinnia .blog-section h2, .io-zinnia .blog-section h3, .io-zinnia .blog-section h4, .io-zinnia .blog-section h5, .io-zinnia .blog-section h6{
  font-weight: 500;
}

.io-zinnia .page-banner { background: url("../images/header-overlay.png") 0 0 no-repeat, #ff6c3f no-repeat; background-size: 50%, cover; }
.io-zinnia h2.page-heading{ color: #fff; font-weight: 600; }
.io-zinnia .section.blog-section { background: #fff; color: #28384c; }
.io-zinnia .sidebar-widget ul li a{ color: #28384c; }
.io-zinnia .sidebar-widget ul li a:hover { color: #5d46e8; }
.io-zinnia .sidebar-widget ul li a { color: #28384c; }
.io-zinnia .sidebar-widget.widget_tag_cloud ul li a { color: #28384c; }
.io-zinnia .sidebar-widget.widget_tag_cloud ul li a,
.io-zinnia .blog-tags li a{ border-color: rgba(0, 0, 0, 0.4); }
.io-zinnia .search-form button{ opacity: 0.8; }
.io-zinnia .search-form button:hover{ opacity: 1; }
.io-zinnia .search-form input::-moz-placeholder { color: #373e45; }
.io-zinnia .search-form input:-ms-input-placeholder { color: #373e45; }
.io-zinnia .search-form input::-webkit-input-placeholder { color: #373e45; }
.io-zinnia .search-form input[type="text"] { color: #373e45; }
.io-zinnia .cta-widget .cta-head, .theme-zinnia .cta-widget p{ color: #fff; }

.io-zinnia .select2-dropdown{ background: #eee; }
.io-zinnia .select2-container--default .select2-selection--single .select2-selection__rendered{ color: #28384c; }
.io-zinnia .select2-container--default .select2-selection--single { background-color: rgba(170, 170, 170, 0.1); }
.io-zinnia .select2-container--default .select2-results__option--highlighted[aria-selected]{ background-color: rgba(170, 170, 170); }
.io-zinnia .select2-container--default .select2-results__option[aria-selected=true]{ background-color: rgba(170, 170, 170, 0.3); }

.io-zinnia .blog-content p { color: #8284a5; }
.io-zinnia .blog-texts { background: #eff6ff; }
.io-zinnia .blog-texts p { color: #28384c; }
.io-zinnia .blog-title a { color: #28384c; }
.io-zinnia .blog-meta li:after { opacity: 0.4; }
.io-zinnia .blog-tags li a { color: #28384c; }
.io-zinnia .page-pagination li a{ color: #28384c; }
.io-zinnia .page-pagination li a:hover{ color: #fff; }
.io-zinnia .page-pagination li a:after { background: #eff6ff; }

.io-zinnia .comment-form .input-field label.input-title{ color: #8284a5; }
.io-zinnia .comment-form .input-field .input-line{ color: #3c3c3c; }

.io-zinnia .cta-widget .btn.btn-alt{ background: #fff; }
.io-zinnia .cta-widget .btn.btn-plane:hover{ background: #000; }

.io-zinnia .comment-item, .section-light .comment-item, .section-light-alt .comment-item {
  background: #eff6ff;
}

.io-zinnia .comment-item > div, .section-light .comment-item > div, .section-light-alt .comment-item > div {
  border-bottom-color: #e5f0ff;
}

.io-zinnia .comment-reply, .section-light .comment-reply, .section-light-alt .comment-reply {
  color: #28384c;
}

.io-zinnia .comment-reply .fa, .section-light .comment-reply .fa, .section-light-alt .comment-reply .fa {
  color: #41faa4;
}

.io-zinnia .comment-reply:hover, .section-light .comment-reply:hover, .section-light-alt .comment-reply:hover {
  color: #41faa4;
}

.io-zinnia .comment-item {
  background: #eff6ff;
}

.io-zinnia .comment-item > div {
  border-bottom-color: #e5f0ff;
}

.io-zinnia .ml-auto a {
  color: #28384c;
}
.io-zinnia .has-flag .wpml-ls-legacy-dropdown .wpml-ls-sub-menu{
  left: 0;
  width: 100%;
  text-align: center;
}
.io-zinnia .has-flag .wpml-ls-legacy-dropdown > ul > li > a,
.io-zinnia .has-flag .wpml-ls-legacy-dropdown > ul > li:hover > a{
  border-radius: 3px;
}
.io-zinnia .has-fixed .has-flag .wpml-ls-legacy-dropdown > ul > li > a, 
.io-zinnia .has-fixed .has-flag .wpml-ls-legacy-dropdown > ul > li > a:hover, 
.io-zinnia .has-fixed .has-flag .wpml-ls-legacy-dropdown > ul > li > a:focus, 
.io-zinnia .has-fixed .has-flag .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a{
  color: #333;
}

/*Color*/
.navbar-nav .sub-menu .nav-link{
  padding: .25rem 1.5rem;
}
.io-zinnia .play-btn-s2,
.io-zinnia .play-icon{
  background: linear-gradient(45deg, #ff6c3f 0%, #fe4350 100%);
}
.io-zinnia .banner-rounded-bg,
.io-zinnia .video-box-s2:before{
  display: none;
}
.io-zinnia .navbar .navbar-toggler,
.io-zinnia .navbar .navbar-toggler:hover, 
.io-zinnia .navbar .navbar-toggler:focus{
  background: #fff;
}
.io-zinnia .has-fixed .navbar-toggler,
.io-zinnia .has-fixed .navbar-toggler:hover,
.io-zinnia .has-fixed .navbar-toggler:focus{
  background: linear-gradient(to right, #ff6c3f 0%, #fe4350 100%);
  color: #fff;
}